### Ansible managed: modified on 2020-11-17 00:05:01 by jstilia on dell-xps-7590-archlabs-laptop.johnstilia.internal

[user]
        email = stilia.johny@gmail.com
        name = John Stilia
[http]
        sslVerify = false
[pull]
        recurseSubmodules = true
        initSubmodules = true
[checkout]
        recurseSubmodules = true
        initSubmodules = true
[alias]
        up = pull --recurse-submodules
        co = checkout --recurse-submodules
	hooks = !\"/home/jstilia/.githooks/bin/githooks\"
[merge]
        tool = vimdiff
[githooks]
	installDir = /home/jstilia/.githooks
	runner = /home/jstilia/.githooks/release/base-template.sh
	cloneUrl =https://github.com/stiliajohny/githooks.git
	cloneBranch = master
	useCoreHooksPath = false
[init]
	templateDir = ~/.githooks/templates
	defaultBranch = master
[githooks "autoupdate"]
	enabled = true
	lastrun = 1614800210
[commit]
    gpgsign = false
[core]
    excludesfile = ~/.gitignore
    pager        = less -FRX
    editor       = vim
    autocrlf     = input
    safecrlf     = true
    whitespace   = cr-at-eol
    preloadindex = true
[diff]
    compaction-heuristic = true
[grep]
    linenumber = true
[i18n]
    commitEncoding = utf8
    logOutputEncoding = utf8
[includeIf "gitdir:~/stripe/"]
    path = .gitconfig-work
[merge]
    tool          = vimdiff
    conflictstyle = diff3
    summary       = true
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[push]
    default = tracking
[pull]
	rebase = true
