.Xauthority
.Xresources
.atom*
.bash_history
.cache
.cargo
.cfg
.cinnamon/
.config/Mailspring*
.config/QtProject.conf
.config/VirtualBox*
.config/autostart*
.config/bashtop/error.log
.config/beets*
.config/chromium*
.config/config.yaml
.config/configstore/*
.config/dconf*
.config/dockstation*
.config/enchant*
.config/geany
.config/gtk-3.0/bookmarks
.config/mc
.config/mimeapps.list
.config/nautilus/search-metadata
.config/pulse
.config/vifm/vifminfo
.config/vim/plugged/*
.config/xfce4
.config/zsh/zsh_history
.cpan
.gem
.gradle
.grsync
.ipython
.kube
.local/share/Trash/
.local/share/applications/*
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/*
.local/share/mc
.local/share/mime
.local/share/recently-used.xbel
.local/share/vim/
.local/share/virtualenv/
.mozilla
.npm
.pki
.python_history
.shutter
.ssh
.tig_history
.tmux/resurrect/*
.vagrant*
.viminfo*
.vscode*
.wget-hsts*
.xsession-errors*
.zcompcache
.zcompdump*
.zhistory*
.zplug/log*
.zplug/zcompdump*
Desktop/
Documents
Downloads
Dropbox
Library/
Movies/
Music/
Pictures
Public/
Videos
VirtualBox VMs/
bin
.cfg
