[user]
	email = stilia.johny@gmail.com
	name = John Stilia
[http]
	sslVerify = false
[pull]
	recurseSubmodules = true
	initSubmodules = true
[checkout]
	recurseSubmodules = true
	initSubmodules = true
[alias]
	up = pull --recurse-submodules
	co = checkout --recurse-submodules
[merge]
	tool = vimdiff
